.main {
    position: absolute;
    left: 164px;
    width: calc(100% - 164px);
    height: 100%;
}
.main-collapse {
    position: absolute;
    left: 64px;
    width: calc(100% - 64px);
    height: 100%;
}

.main-container {
    top: 60px;
    position: absolute;
    overflow: auto;
    box-sizing: border-box;
    height: calc(100% - 60px);
    width: 100%;
}